../*.ICEauthority
.Skype/
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dbus/
.dmrc
.gconf/
.gitconfig
.gnome/
.ipython/
.local/
.macromedia/
.mozilla/
.nv/
.pki/
.profile
.ssh/
.virtualenvs/
.xinputrc
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Pictures/
examples.desktop
getdeb-repository_0.1-1~getdeb1_all.deb
playdeb_0.3-1~getdeb1_all.deb
.ICEauthority
.Skype/
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dbus/
.dmrc
.gconf/
.gitconfig
.gnome/
.ipython/
.local/
.macromedia/
.mozilla/
.nv/
.pki/
.profile
.ssh/
.virtualenvs/
.xinputrc
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Pictures/
examples.desktop
getdeb-repository_0.1-1~getdeb1_all.deb
playdeb_0.3-1~getdeb1_all.deb
